pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filenamevariable",
					"value": {
						"value": "@concat('filename',formatDateTime(utcnow(),'MM-dd-yyyy'),'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "dataflow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference",
						"parameters": {
							"paramfilename": {
								"value": "'@{variables('filenamevariable')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"sink1": {
								"filename": "**"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"filenamevariable": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-09T13:24:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}